.no-border {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important
}

.ant-btn{
    padding: 11px 20px !important;
    box-shadow: none !important;
    height: auto;
}

.outline-button {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
}

.white-button {
    background-color: white !important;
    color: var(--primary-dark) !important;
    border: none !important;
}

.button-disable{
    opacity: .5;
}