.cs-rm-5{
    margin-right: 5px;
}

.cs-rm-10{
    margin-right: 10px;
}

.cs-rm-20{
    margin-right: 20px;
}

.cs-rm-40{
    margin-right: 40px;
}

.cs-lm-40{
    margin-left: 40px;
}

.cs-lm-20{
    margin-left: 20px;
}

.cs-bm-20{
    margin-bottom: 20px;
}

.cs-bm-40{
    margin-bottom: 40px;
}

.cs-tm-10{
    margin-top: 10px;
}

.cs-tm-20{
    margin-top: 20px;
}

.cs-mt-40{
    margin-top: 40px;
}

.cs-mt-60{
    margin-top: 60px;
}

.cs-bm-0{
    margin-bottom: 0px !important;
}